@import url('https://fonts.googleapis.com/css?family=Cabin');
html, body {
    margin: 0;
    padding: 0;
    font-family: "Cabin",Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    color:#efeeee;
}

h3 {
    color:#bfbfbf;
}

p {
    color:#fff4f4;
    margin: 25px 0px;
}

.topnav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    overflow: hidden;
    background-color: #0a0a0a82;
    margin: 0;
    top: 0;
    z-index: 99;
    height: 50px;
}

.topnav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.topnav-list li {
    display: block;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.topnav a:hover { 
    color: rgb(95, 89, 89);
}

.main {
    margin-top: 50px;
}

#about {
    background: url(assets/images/profile-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 36%;
    height: 750px;
    min-width:1024px;
}

.wrapper {
    width: 1024px;
    min-width: 1024px;
    margin: auto;
}

.profile-container {
    background-color: #ffffff0f;
    height: 100%;
}

.profile {
    width: 60%;
    margin: 0 auto;
}

.profile p {
    text-align: justify;
    line-height: 1.8;
    font-size: 18px;
}

.profile h1 {
    padding-top: 20px;
}

.skills {
    width: 60%;
    text-align: center;
    margin: 330px auto 0px auto;
    font-size: 12px;
}

.skill-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skill-progress {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: right;
    display: flex;
}

.skill-name {
    height: 18px;
    display: inline-block;
    width: 70px;
    background-color: #5cb95d;
}

.skill-html {
    background-color: #534cbd;
}

.skill-css {
    background-color: #4ea94f;
}

.skill-js {
    background-color: #ccce40;
}

.skill-sql {
    background-color: #ce657d;
}

.skill-name span {
    display: inline-block;
    height: 100%;
}

.progress-bar {
    height: 18px;
    transition: 0.4s linear;
    transition-property: width;
}

.barSQL {
    background-color: #cc7489;
    width: 30%;
    animation: animationSQL 2s;
}

.barHTML {
    background-color: #5e58c5;
    width: 60%;
    animation: animationHTML 2s;
}

.barCSS {
    background-color: #5cb95d;
    width: 50%;
    animation: animationCSS 2s;
}

.barJS {
    background-color: #d1d258;
    width: 40%;
    animation: animationJS 2s;
}

@keyframes animationCSS {
    0% {
        width: 5%;
    }
    100% {
        width: 50%;
    }
}

@keyframes animationHTML {
    0% {
        width: 5%;
    }
    100% {
        width: 60%;
    }
}

@keyframes animationJS {
    0% {
        width: 5%;
    }
    100% {
        width: 40%;
    }
}

@keyframes animationSQL {
    0% {
        width: 5%;
    }
    100% {
        width: 30%;
    }
}

.exp-courses-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.exp-course {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.exp-course img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.exp-course img {
    width: 160px;
    height: 150px;
    border-radius: 120px;
}

.exp-education {
    text-align: center;
}

.exp-education p{
    font-style: italic;
}

#contact {
    background-color: #0a0a0a82;
    height: 80px;
}

.contacts {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.contacts a {
    display: inline-block;
    color: #444;
    font-weight: bold;
    text-decoration: none;
    font-size:25px;
    margin: 0px 5px;
}

.contacts a:hover {
    color: #929292;
}

#contact h3 {
    margin: 0px;
    padding-top: 10px;
    color:#988f8f;
}
